<h1>Add a New Ingredient to <%= link_to @recipe.name, recipe_path(@recipe) %></h1>

<%= form_for(@ingredient) do |f| %>
  <%= render 'shared/error_message' %>

  <%= f.label :amount %>
  <%= f.text_field :amount %>

  <%= f.label :measurement_id, "Measurement" %>
  <%= f.select :measurement_id, Measurement.all.map { |m| [m.name, m.id] } %>

  <%= f.label :item_id, "Item" %>
  <%= f.select :item_id, Item.all.map { |i| [i.name, i.id] } %>

  <%= f.hidden_field :recipe_id %>

  <%= f.submit "Submit Ingredient" %>
<% end %>

